body {
    width: 800px;
    margin: 0 auto;
    background-color: #749ce6;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #1d4972;
    text-shadow: 2px 2px 1px darkslategrey;
    font-size: 50px;
    text-align: center;
}