html {
    font-size: 10px;
    font-family: 'Gabarito', sans-serif;
    background-color: #74afe6;
}

body {
    width: 800px;
    margin: 0 auto;
    background-color: #749ce6;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

img {
    display: block;
    margin: 0 auto;
}

button {
    position: absolute;
    left: 400px;        
}

#header {
    text-decoration: none;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #1d4972;
    text-shadow: 2px 2px 1px darkslategrey;
    font-size: 50px;
    text-align: center;
}

h2 {
    margin: 0;
    padding: 20px 0;
    color: #1d4972;
    text-shadow: 2px 2px 1px rgb(56, 53, 53);
    font-size: 38px;
    text-align: center;
}

h3 {
    font-size: 33px;
    text-align: center;
}

h4 {
    font-size: 30px;
    text-align: center;
}

p,
li {
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 1px;
}

nav {
    height: 50px;
    background-color: #1d4972;
    display: flex;
    margin-bottom: 10px;
}
  
nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
}
  
nav li {
    display: inline;
    text-align: center;
    flex: 1;
    font-size: 2rem;
    color: #749ce6;
}
  
nav a {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
  
nav form {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2em;
}
